@import "./../../variables.scss";
@import "./../../mixins.scss";

.movieCard {
  color: $white;
  cursor: pointer;
  position: relative;
  .actionButtons {
    display: none;
    padding: 15px;
    position: absolute;
    right: 0;
    button {
      background-color: $red;
      border-radius: $borderRadius;
      border: none;
      color: $white;
      cursor: pointer;
      margin-left: 6px;
    }
  }
  &:hover {
    .actionButtons {
      display: block;
    }
  }
}

.movieCover {
  height: 370px;
  width: 243px;
}

.description {
  font-weight: 100;
  margin-top: 10px;
  @include flex-row;

  .movieYear {
    border-radius: $borderRadius;
    border: 1px solid $light-grey;
    font-size: 0.9rem;
    padding: 0 8px;
  }
}

.movieGenre {
  font-size: 0.75rem;
}
