@import "./variables.scss";
@import "./mixins.scss";

html,
body,
#root {
  height: 100%;
}

#root {
  height: 100%;
  color: $white;
  display: flex;
  flex-direction: column;
}

#root main {
  height: 100%;
  @include flex-center;
}
