@import "./variables.scss";

html,
body,
#__next {
  background-color: $dark-grey;
  font-family: "Roboto", sans-serif;
  height: 100%;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#__next main {
  width: $contentWidth;
  margin: auto;
}

.root-portal {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
