$red: #f65261;
$grey: #424242;
$dark-grey: #232323;
$light-grey: #555555;
$white: #ffffff;

$light-grey-05: #5555557f;
$light-grey-08: #555555cc;

$contentWidth: 1280px;
$modalWidth: 500px;

$borderRadius: 3px;
